@page
@model MovieMoverCore.Pages.SeriesCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Series</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Series.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Series.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Series.MetadataProviderId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Series.MetadataProviderId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Series.EpGuidesName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Series.EpGuidesName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Series.SubtitlesName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Series.SubtitlesName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Series.VideoSearch)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Series.VideoSearch)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Series.DirectoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Series.DirectoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Series.SearchNewEpisodes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Series.SearchNewEpisodes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Series.IsFinished)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Series.IsFinished)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Series.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
