@page
@model MovieMoverCore.Pages.SeriesCRUD.IndexModel

@{
    ViewData["Title"] = "Maintenance";
}

@section Scripts {
    <script type="text/javascript" src="~/js/maintenance.js"></script>
}


<h1>Maintenance</h1>

<h4>JDownloader</h4>
<p>
    <a href="#" onclick="invokeJDUpdateSearch();">Invoke Update search</a> <span id="state_serachjdupdate"></span>
</p>

<p></p>
<h4>Series Data</h4>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Series[0].Name)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Series[0].PlexId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Series[0].EpGuidesName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Series[0].SubtitlesName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Series[0].DirectoryName)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Series[0].SearchNewEpisodes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Series[0].IsFinished)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Series) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.PlexId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EpGuidesName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubtitlesName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectoryName)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.SearchNewEpisodes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFinished)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p></p>
    
<h4>Download Name Transformations</h4>
<p>
    <a href="#" onclick="reloadRenames();">Reload Renamings</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Regex
            </th>
            <th>
                Template
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Renamings)
        {
            <tr>
                <td>@item.Regex</td>
                <td>@item.Template</td>
            </tr>
        }
    </tbody>
</table>

